.actions {
    margin-top: 20px;
  }
  
  button {
    padding: 12px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .confirmBtn {
    background-color: green;
    color: white;
  }
  
  .cancelBtn {
    background-color: red;
    color: white;
  }
  